<!DOCTYPE html>
<html lang="en">
    <!-- {%load static%} -->



<head>

    <title>Caren Jeptoo</title>
    <!-- <link href="{%static '/css/main.css'%}" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col md-3">
                <div class="card card body"></div>
                <!-- <img src="../static/images/zuri.jpg" > -->
                <h4>Hi my name is Caren Jeptoo I am a backend Developer in Python</h4>
                <p><ul>I am Currently an intern at HNG thanks to Zuri training for the opportunity.I love coding and I am so passionate to work in teams for various projects to solve problems</ul>
                    <h6>I am proficient in:</h6>
                    <p><ul>Python/Django</ul>
                        <ul>Html</ul>
                        <ul>CSS</ul>
                        <ul>C++</ul>

                    </p>

                </p>
                

            </div>
            <div class="col md-9">
                <div class="card card body"></div>
                <h4>My first job</h4>
                <p>2020 Jan to April worked as an intern at Postal Cooperation of Kenya (PCK) as a network administrator with major tasks being configuring computer networks, Identifying and solving any problems arising with computer networks and systems.</p>
                <p>I am currently an intern with HNG Internships and so far the experience is pretty good and educative I am so excited to continue learning</p>
                <p>2021 April to August working as an intern at Straj Solutions Limited with major tasks being to develop interfaces and systems for Microfinance institutions. </p>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col md-6">
                <div class="card card body"></div>
                <h4>Education</h4>
                <p>ACADEMIC QUALIFICATIONS
                    <ul>2016 to date: Moi University
                                          Bachelor of Science in Information Science- (IT option) </ul>      
                    <ul> Jan to March: Our Lady of Peace studied Computer Packages</ul>
                    <ul>2012 to 2015: Kenya Certificate of Secondary Education (KCSE)
                                         : St. Joseph’s Girls High School-Chepterit. Mean Grade of B+(73)</ul>
                    <ul>2004 to 2011: Kenya Certificate of Primary Education (KCPE)
                                         : Kipriria Hills Academy (Griffins)
                                         : 360/500 Marks </ul>
                   </p>
                
            </div>
            <div class="col md-6">
                <div class="card card body"></div>
                <h4>My Career Objectives</h4>
                <p><ul>•Seeking a challenging position which enables me to use my acquired knowledge.</ul>
                    <ul> advance and employ the skills learnt towards   result –oriented professional management practice.</ul>
                   <ul>•To serve my perspective employer to the best of my ability so as to achieve vision, mission and goals   of the organization. </ul> 
                    </p>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col md-6">
                <div class="card card body"></div>
                <h4>Skills and Competencies</h4>
                <p><ul>•Good communication skills.</ul>
                    <ul>•Programming Skills.</ul>
                    <ul>•Capacity to work hard.</ul>
                    <ul> Ability to work under minimal supervision</ul>
                    <ul>•Willing to work in a challenging, dynamic and schedule-shifting environment.</ul>
                    <ul>•Project management skills</ul> 
                </ul>
                    </p>
            </div>
            <div class="col md-6">
                <div class="card card body"></div>
                <h4>Contacts</h4>
                <p><ol1>Phone <No:></No:>
                <254708914801></254708914801></ol1>
                <p>Gmail:cchelilim@gmail.com</p>
                <p><a href="https://training.zuri.team/">
                    <!-- <img src="../static/images/ing.jpg" alt="zuri-logo"> -->
                </a> </p>
                <p><a href="https://hng.tech/">
                    <!-- <img src="../static/images/hng.jpg" alt="hng-logo"> -->
                </a></p>
               
            
                
            </div>

        </div>
    </div>





</body>


</html>